.SectionCharacter{
  padding: 50px 30px;
  text-align: center;
}

.BlockCharacter{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  border-top: 3px solid black;
}

.CardCharacter{
  margin-top: 15px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 7px;
  background: #282c34;

  color: purple;
  transition: 0.5s;
  font-weight:500;
  &:hover{
    font-weight:900;
    color: #e000e0;
  }
  .Avatar{
    border-radius: 7px;
  }
}
