
.jokes-section {
  font-size: 20px;
  font-weight:600;
  padding: 30px 0 30px 0;
  background-color: #403e4b;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.jokes__heading {
  color: #ffffff;
  font-size: 24px;
  padding-top: 20px;
}
