.Cube {


}

.CubeAndSpan {
  display: flex;
  gap: 50px;
  align-items: center;
}

.Buttons {
  display: flex;
  gap: 20px;
}

.CubeButtons__Button {


}

.ColoredCube {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  border: 1px solid black;
}

.CubeSpan {

}