.nav {
  border-radius: 5px;
  display: inline-flex;
  justify-content: flex-end;
  margin-top: 50px;
  margin-bottom: 15px;
  border: 1px solid black;
  max-width: 1800px;
  width: 100%;
  background: #61dafb;
}

.navigation {
  margin: 30px 30px 30px 0;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}
